<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbclaude.chat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="BB Claude"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ChatActivity"
            android:label="BB Claude"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
    </application>

</manifest>
